.auth {
  margin: 5% 30%;
  border: 2px solid black;
  background-color: lightskyblue;
  border-radius: 15px;
}
.auth h2 {
  text-align: center;
  margin: 5px;
  text-decoration-line: underline;
}
.lab {
  margin: 5px 10%;
  font-size: larger;
}
.btn {
  margin: 10px 0;
}
